In [97]:
import pandas as pd

In [99]:
# colld mat sheet excl
mat = pd.read_csv(r'C:\Users\Alllo\OneDrive\Desktop\DataAnalyics\DAI\Individual Progects\Student Performance in Mathematics and Portuguese\student-mat.csv')

In [101]:
mat.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

In [103]:
mat['failures']

0      0
1      0
2      3
3      0
4      0
      ..
390    2
391    0
392    3
393    0
394    0
Name: failures, Length: 395, dtype: int64

In [105]:
# change the row word
#school column 
mat['school'] = mat['school'].replace('GP', 'Gabriel Pereira')
mat['school'] = mat['school'].replace('MS', 'Mousinho da Silveira')

#sex
mat['sex'] = mat['sex'].replace('F', 'Female')
mat['sex'] = mat['sex'].replace('M', 'Male')

#address
mat['address'] = mat['address'].replace('U', 'Urban')
mat['address'] = mat['address'].replace('R', 'Rural')

#famsize
mat['famsize'] = mat['famsize'].replace('LE3', 'equal to 3')
mat['famsize'] = mat['famsize'].replace('GT3', 'greater than 3')


#Pstatus
mat['Pstatus'] = mat['Pstatus'].replace('T', 'living together')
mat['Pstatus'] = mat['Pstatus'].replace('A', 'Apart')

In [111]:
#Medu
mat['Medu'] = mat['Medu'].replace('0', 'none')
mat['Medu'] = mat['Medu'].replace('1', 'primary education (4th grade)')
mat['Medu'] = mat['Medu'].replace('2', '5th to 9th grade')
mat['Medu'] = mat['Medu'].replace('3', 'secondary education')
mat['Medu'] = mat['Medu'].replace('4', 'higher education')

#Fedu
mat['Fedu'] = mat['Fedu'].replace('0', 'none')
mat['Fedu'] = mat['Fedu'].replace('1', 'primary education (4th grade)')
mat['Fedu'] = mat['Fedu'].replace('2', '5th to 9th grade')
mat['Fedu'] = mat['Fedu'].replace('3', 'secondary education')
mat['Fedu'] = mat['Fedu'].replace('4', 'higher education')



#traveltime
mat['traveltime'] = mat['traveltime'].replace('1', '<15 min')
mat['traveltime'] = mat['traveltime'].replace('2', '15 to 30 min.')
mat['traveltime'] = mat['traveltime'].replace('3', '30 min. to 1 hour')
mat['traveltime'] = mat['traveltime'].replace('4', ' >1 hour')

#studytime
mat['studytime'] = mat['studytime'].replace('1', '<2 hours')
mat['studytime'] = mat['studytime'].replace('2', '2 to 5 hours')
mat['studytime'] = mat['studytime'].replace('3', '5 to 10 hours')
mat['studytime'] = mat['studytime'].replace('4', '  >10 hours')



#famrel
mat['famrel'] = mat['famrel'].replace('1', 'Very bad')
mat['famrel'] = mat['famrel'].replace('2', 'Bad')
mat['famrel'] = mat['famrel'].replace('3', 'Average')
mat['famrel'] = mat['famrel'].replace('4', 'Good')
mat['famrel'] = mat['famrel'].replace('5', 'Excellent')


#freetime 
mat['freetime'] = mat['freetime'].replace('1', 'Very Low')
mat['freetime'] = mat['freetime'].replace('2', 'Low')
mat['freetime'] = mat['freetime'].replace('3', 'Medium')
mat['freetime'] = mat['freetime'].replace('4', 'High')
mat['freetime'] = mat['freetime'].replace('5', 'Very High')


#goout 
mat['goout'] = mat['goout'].replace('1', 'Very Low')
mat['goout'] = mat['goout'].replace('2', 'Low')
mat['goout'] = mat['goout'].replace('3', 'Medium')
mat['goout'] = mat['goout'].replace('4', 'High')
mat['goout'] = mat['goout'].replace('5', 'Very High')


#Dalc 
mat['Dalc'] = mat['Dalc'].replace('1', 'Very Low')
mat['Dalc'] = mat['Dalc'].replace('2', 'Low')
mat['Dalc'] = mat['Dalc'].replace('3', 'Medium')
mat['Dalc'] = mat['Dalc'].replace('4', 'High')
mat['Dalc'] = mat['Dalc'].replace('5', 'Very High')

#Walc 
mat['Walc'] = mat['Walc'].replace('1', 'Very Low')
mat['Walc'] = mat['Walc'].replace('2', 'Low')
mat['Walc'] = mat['Walc'].replace('3', 'Medium')
mat['Walc'] = mat['Walc'].replace('4', 'High')
mat['Walc'] = mat['Walc'].replace('5', 'Very High')

#health
mat['health'] = mat['health'].replace('1', 'Very Low')
mat['health'] = mat['health'].replace('2', 'Low')
mat['health'] = mat['health'].replace('3', 'Medium')
mat['health'] = mat['health'].replace('4', 'High')
mat['health'] = mat['health'].replace('5', 'Very High')

mat['Medu'] = mat['Medu'].astype(str)
mat['Fedu'] = mat['Fedu'].astype(str)
mat['traveltime'] = mat['traveltime'].astype(str)
mat['studytime'] = mat['studytime'].astype(str)
mat['famrel'] = mat['famrel'].astype(str)
mat['freetime'] = mat['freetime'].astype(str)
mat['goout'] = mat['goout'].astype(str)
mat['Dalc'] = mat['Dalc'].astype(str)
mat['Walc'] = mat['Walc'].astype(str)
mat['health'] = mat['health'].astype(str)

In [113]:
mat.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,Gabriel Pereira,Female,18,Urban,greater than 3,Apart,higher education,higher education,at_home,teacher,...,Good,Medium,High,Very Low,Very Low,Medium,6,5,6,6
1,Gabriel Pereira,Female,17,Urban,greater than 3,living together,primary education (4th grade),primary education (4th grade),at_home,other,...,Excellent,Medium,Medium,Very Low,Very Low,Medium,4,5,5,6
2,Gabriel Pereira,Female,15,Urban,equal to 3,living together,primary education (4th grade),primary education (4th grade),at_home,other,...,Good,Medium,Low,Low,Medium,Medium,10,7,8,10
3,Gabriel Pereira,Female,15,Urban,greater than 3,living together,higher education,5th to 9th grade,health,services,...,Average,Low,Low,Very Low,Very Low,Very High,2,15,14,15
4,Gabriel Pereira,Female,16,Urban,greater than 3,living together,secondary education,secondary education,other,other,...,Good,Medium,Low,Very Low,Low,Very High,4,6,10,10

In [115]:
mat['failures']

0      0
1      0
2      3
3      0
4      0
      ..
390    2
391    0
392    3
393    0
394    0
Name: failures, Length: 395, dtype: int64

In [137]:
#rename columns 
mat.rename(columns={'school': 'mat_School_name'}, inplace=True)
mat.rename(columns={'sex': 'mat_Gender'}, inplace=True)
mat.rename(columns={'age': 'mat_Age'}, inplace=True)
mat.rename(columns={'address': 'mat_Address'}, inplace=True)
mat.rename(columns={'famsize': 'mat_Family_size '}, inplace=True)

In [126]:
mat.rename(columns={
    'Medu': 'mat_mother_education',
    'Fedu': 'mat_father_education',
    'Mjob': 'mat_mother_job',
    'Fjob': 'mat_father_job',
    'reason': 'mat_school_choice_reason',
    'guardian': 'mat_student_guardian',
    'traveltime': 'mat_home_to_school_travel_time',
    'studytime': 'mat_weekly_study_time',
    'failures': 'mat_past_class_failures',
    'schoolsup': 'mat_extra_educational_support',
    'Medu': 'mat_mother_education',
    'Fedu': 'mat_father_education',
    'Mjob': 'mat_mother_job',
    'Fjob': 'mat_father_job',
    'reason': 'mat_smat_chool_choice_reason',
    'guardian': 'mat_student_guardian',
    'traveltime': 'mat_home_to_school_travel_time',
    'studytime': 'mat_weekly_study_time',
    'famsup': 'mat_family_educational_support',
    'paid': 'mat_extra_paid_classes',
    'activities': 'mat_extra_curricular_activities',
    'nursery': 'mat_attended_nursery_school',
    'higher': 'mat_wants_higher_education',
    'internet': 'mat_internet_access_at_home',
    'romantic': 'mat_romantic_relationship',
    'famrel': 'mat_quality_of_family_relationships',
    'freetime': 'mat_free_time_after_school',
    'goout': 'mat_going_out_with_friends',
    'Dalc': 'mat_workday_alcohol_consumption',
    'Walc': 'mat_weekend_alcohol_consumption',
    'health': 'mat_current_health_status',
    'absences': 'mat_number_of_school_absences',
    'G1': 'mat_first_period_grade',
    'G2': 'mat_second_period_grade',
    'G3': 'mat_final_grade'
}, inplace=True)

In [141]:
mat.head()

,mat_School_name,mat_Gender,mat_Age,mat_Address,mat_Family_size,Pstatus,mat_mother_education,mat_father_education,mat_mother_job,mat_father_job,...,mat_quality_of_family_relationships,mat_free_time_after_school,mat_going_out_with_friends,mat_workday_alcohol_consumption,mat_weekend_alcohol_consumption,mat_current_health_status,mat_number_of_school_absences,mat_first_period_grade,mat_second_period_grade,mat_final_grade
0,Gabriel Pereira,Female,18,Urban,greater than 3,Apart,higher education,higher education,at_home,teacher,...,Good,Medium,High,Very Low,Very Low,Medium,6,5,6,6
1,Gabriel Pereira,Female,17,Urban,greater than 3,living together,primary education (4th grade),primary education (4th grade),at_home,other,...,Excellent,Medium,Medium,Very Low,Very Low,Medium,4,5,5,6
2,Gabriel Pereira,Female,15,Urban,equal to 3,living together,primary education (4th grade),primary education (4th grade),at_home,other,...,Good,Medium,Low,Low,Medium,Medium,10,7,8,10
3,Gabriel Pereira,Female,15,Urban,greater than 3,living together,higher education,5th to 9th grade,health,services,...,Average,Low,Low,Very Low,Very Low,Very High,2,15,14,15
4,Gabriel Pereira,Female,16,Urban,greater than 3,living together,secondary education,secondary education,other,other,...,Good,Medium,Low,Very Low,Low,Very High,4,6,10,10

In [131]:
#save to csv

In [139]:
mat.to_csv(r"C:\Users\Alllo\OneDrive\Desktop\DataAnalyics\DAI\Individual Progects\Student Performance in Mathematics and Portuguese\new csv\MAT.csv")

In [70]:
por = pd.read_csv(r'C:\Users\Alllo\OneDrive\Desktop\DataAnalyics\DAI\Individual Progects\Student Performance in Mathematics and Portuguese\student-por.csv')

In [72]:
por.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,4,0,11,11
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,2,9,11,11
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,6,12,13,12
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,0,14,14,14
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,0,11,13,13

In [74]:
# change the row word
#school column 
por['school'] = por['school'].replace('GP', 'Gabriel Pereira')
por['school'] = por['school'].replace('MS', 'Mousinho da Silveira')

#sex
por['sex'] = por['sex'].replace('F', 'Female')
por['sex'] = por['sex'].replace('M', 'Male')

#address
por['address'] = por['address'].replace('U', 'Urban')
por['address'] =por['address'].replace('R', 'Rural')

#famsize
por['famsize'] = por['famsize'].replace('LE3', 'equal to 3')
por['famsize'] =por['famsize'].replace('GT3', 'greater than 3')


#Pstatus
por['Pstatus'] = por['Pstatus'].replace('T', 'living together')
por['Pstatus'] = por['Pstatus'].replace('A', 'Apart')


# Medu
por['Medu'] = por['Medu'].replace('0', 'none')
por['Medu'] = por['Medu'].replace('1', 'primary education (4th grade)')
por['Medu'] = por['Medu'].replace('2', '5th to 9th grade')
por['Medu'] = por['Medu'].replace('3', 'secondary education')
por['Medu'] = por['Medu'].replace('4', 'higher education')

# Fedu
por['Fedu'] = por['Fedu'].replace('0', 'none')
por['Fedu'] = por['Fedu'].replace('1', 'primary education (4th grade)')
por['Fedu'] = por['Fedu'].replace('2', '5th to 9th grade')
por['Fedu'] = por['Fedu'].replace('3', 'secondary education')
por['Fedu'] = por['Fedu'].replace('4', 'higher education')

# traveltime
por['traveltime'] = por['traveltime'].replace('1', '<15 min')
por['traveltime'] = por['traveltime'].replace('2', '15 to 30 min.')
por['traveltime'] = por['traveltime'].replace('3', '30 min. to 1 hour')
por['traveltime'] = por['traveltime'].replace('4', '>1 hour')

# studytime
por['studytime'] = por['studytime'].replace('1', '<2 hours')
por['studytime'] = por['studytime'].replace('2', '2 to 5 hours')
por['studytime'] = por['studytime'].replace('3', '5 to 10 hours')
por['studytime'] = por['studytime'].replace('4', '>10 hours')


# famrel
por['famrel'] = por['famrel'].replace('1', 'Very bad')
por['famrel'] = por['famrel'].replace('2', 'Bad')
por['famrel'] = por['famrel'].replace('3', 'Average')
por['famrel'] = por['famrel'].replace('4', 'Good')
por['famrel'] = por['famrel'].replace('5', 'Excellent')

# freetime 
por['freetime'] = por['freetime'].replace('1', 'Very Low')
por['freetime'] = por['freetime'].replace('2', 'Low')
por['freetime'] = por['freetime'].replace('3', 'Medium')
por['freetime'] = por['freetime'].replace('4', 'High')
por['freetime'] = por['freetime'].replace('5', 'Very High')

# goout 
por['goout'] = por['goout'].replace('1', 'Very Low')
por['goout'] = por['goout'].replace('2', 'Low')
por['goout'] = por['goout'].replace('3', 'Medium')
por['goout'] = por['goout'].replace('4', 'High')
por['goout'] = por['goout'].replace('5', 'Very High')

# Dalc 
por['Dalc'] = por['Dalc'].replace('1', 'Very Low')
por['Dalc'] = por['Dalc'].replace('2', 'Low')
por['Dalc'] = por['Dalc'].replace('3', 'Medium')
por['Dalc'] = por['Dalc'].replace('4', 'High')
por['Dalc'] = por['Dalc'].replace('5', 'Very High')

# Walc 
por['Walc'] = por['Walc'].replace('1', 'Very Low')
por['Walc'] = por['Walc'].replace('2', 'Low')
por['Walc'] = por['Walc'].replace('3', 'Medium')
por['Walc'] = por['Walc'].replace('4', 'High')
por['Walc'] = por['Walc'].replace('5', 'Very High')

# health
por['health'] = por['health'].replace('1', 'Very Low')
por['health'] = por['health'].replace('2', 'Low')
por['health'] = por['health'].replace('3', 'Medium')
por['health'] = por['health'].replace('4', 'High')
por['health'] = por['health'].replace('5', 'Very High')

por['Medu'] = por['Medu'].astype(str)
por['Fedu'] =por['Fedu'].astype(str)
por['traveltime'] =por['traveltime'].astype(str)
por['studytime'] = por['studytime'].astype(str)

por['famrel'] = por['famrel'].astype(str)
por['freetime'] = por['freetime'].astype(str)
por['goout'] = por['goout'].astype(str)
por['Dalc'] = por['Dalc'].astype(str)
por['Walc'] = por['Walc'].astype(str)
por['health'] = por['health'].astype(str)

In [76]:
por.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,Gabriel Pereira,Female,18,Urban,greater than 3,Apart,4,4,at_home,teacher,...,4,3,4,1,1,3,4,0,11,11
1,Gabriel Pereira,Female,17,Urban,greater than 3,living together,1,1,at_home,other,...,5,3,3,1,1,3,2,9,11,11
2,Gabriel Pereira,Female,15,Urban,equal to 3,living together,1,1,at_home,other,...,4,3,2,2,3,3,6,12,13,12
3,Gabriel Pereira,Female,15,Urban,greater than 3,living together,4,2,health,services,...,3,2,2,1,1,5,0,14,14,14
4,Gabriel Pereira,Female,16,Urban,greater than 3,living together,3,3,other,other,...,4,3,2,1,2,5,0,11,13,13

In [78]:
por.rename(columns={
    'school': 'por_School_name',
    'sex': 'por_Gender',
    'address': 'por_Address',
    'address': 'por_Address',
    'famsize': 'por_Family_size',
    'Medu': 'por_mother_education',
    'Fedu': 'por_father_education',
    'Mjob': 'por_mother_job',
    'Fjob': 'por_father_job',
    'reason': 'por_school_choice_reason',
    'guardian': 'por_student_guardian',
    'traveltime': 'por_home_to_school_travel_time',
    'studytime': 'por_weekly_study_time',
    'failures': 'por_past_class_failures',
    'schoolsup': 'por_extra_educational_support',
    'Medu': 'por_mother_education',
    'Fedu': 'por_father_education',
    'Mjob': 'por_mother_job',
    'Fjob': 'por_father_job',
    'reason': 'por_school_choice_reason',
    'guardian': 'por_student_guardian',
    'traveltime': 'por_home_to_school_travel_time',
    'studytime': 'por_weekly_study_time',
    'famsup': 'por_family_educational_support',
    'paid': 'por_extra_paid_classes',
    'activities': 'por_extra_curricular_activities',
    'nursery': 'por_attended_nursery_school',
    'higher': 'por_wants_higher_education',
    'internet': 'por_internet_access_at_home',
    'romantic': 'por_romantic_relationship',
    'famrel': 'por_quality_of_family_relationships',
    'freetime': 'por_free_time_after_school',
    'goout': 'por_going_out_with_friends',
    'Dalc': 'por_workday_alcohol_consumption',
    'Walc': 'por_weekend_alcohol_consumption',
    'health': 'por_current_health_status',
    'absences': 'por_number_of_school_absences',
    'G1': 'por_first_period_grade',
    'G2': 'por_second_period_grade',
    'G3': 'por_final_grade'
}, inplace=True)

In [80]:
por.head()

,por_School_name,por_Gender,age,por_Address,por_Family_size,Pstatus,por_mother_education,por_father_education,por_mother_job,por_father_job,...,por_quality_of_family_relationships,por_free_time_after_school,por_going_out_with_friends,por_workday_alcohol_consumption,por_weekend_alcohol_consumption,por_current_health_status,por_number_of_school_absences,por_first_period_grade,por_second_period_grade,por_final_grade
0,Gabriel Pereira,Female,18,Urban,greater than 3,Apart,4,4,at_home,teacher,...,4,3,4,1,1,3,4,0,11,11
1,Gabriel Pereira,Female,17,Urban,greater than 3,living together,1,1,at_home,other,...,5,3,3,1,1,3,2,9,11,11
2,Gabriel Pereira,Female,15,Urban,equal to 3,living together,1,1,at_home,other,...,4,3,2,2,3,3,6,12,13,12
3,Gabriel Pereira,Female,15,Urban,greater than 3,living together,4,2,health,services,...,3,2,2,1,1,5,0,14,14,14
4,Gabriel Pereira,Female,16,Urban,greater than 3,living together,3,3,other,other,...,4,3,2,1,2,5,0,11,13,13

In [84]:
por.to_csv(r"C:\Users\Alllo\OneDrive\Desktop\DataAnalyics\DAI\Individual Progects\Student Performance in Mathematics and Portuguese\new csv\POR.csv")

In [143]:
mat.dtypes

mat_School_name                        object
mat_Gender                             object
mat_Age                                 int64
mat_Address                            object
mat_Family_size                        object
Pstatus                                object
mat_mother_education                   object
mat_father_education                   object
mat_mother_job                         object
mat_father_job                         object
mat_smat_chool_choice_reason           object
mat_student_guardian                   object
mat_home_to_school_travel_time         object
mat_weekly_study_time                  object
mat_past_class_failures                 int64
mat_extra_educational_support          object
mat_family_educational_support         object
mat_extra_paid_classes                 object
mat_extra_curricular_activities        object
mat_attended_nursery_school            object
mat_wants_higher_education             object
mat_internet_access_at_home            object
mat_romantic_relationship              object
mat_quality_of_family_relationships    object
mat_free_time_after_school             object
mat_going_out_with_friends             object
mat_workday_alcohol_consumption        object
mat_weekend_alcohol_consumption        object
mat_current_health_status              object
mat_number_of_school_absences           int64
mat_first_period_grade                  int64
mat_second_period_grade                 int64
mat_final_grade                         int64
dtype: object