In [1]:
#pip install sweetviz

In [2]:
import pandas as pd
import sweetviz as sv

In [3]:
cu = pd.read_csv(r'C:\Users\aliah\OneDrive\Desktop\A\PROJECT\Final\1-eCommerce Customer Service Satisfaction\Customer_support_data.csv')

In [4]:
#analyze_report = sv.analyze(cu)
#analyze_report.show_html('report.html')

In [5]:
cu.shape

(85907, 20)

In [6]:
cu.dtypes

Unique id                   object
channel_name                object
category                    object
Sub-category                object
Customer Remarks            object
Order_id                    object
order_date_time             object
Issue_reported at           object
issue_responded             object
Survey_response_Date        object
Customer_City               object
Product_category            object
Item_price                 float64
connected_handling_time    float64
Agent_name                  object
Supervisor                  object
Manager                     object
Tenure Bucket               object
Agent Shift                 object
CSAT Score                   int64
dtype: object

In [7]:
cu.head()

,Unique id,channel_name,category,Sub-category,Customer Remarks,Order_id,order_date_time,Issue_reported at,issue_responded,Survey_response_Date,Customer_City,Product_category,Item_price,connected_handling_time,Agent_name,Supervisor,Manager,Tenure Bucket,Agent Shift,CSAT Score
0,7e9ae164-6a8b-4521-a2d4-58f7c9fff13f,Outcall,Product Queries,Life Insurance,NaN,c27c9bb4-fa36-4140-9f1f-21009254ffdb,NaN,01/08/2023 11:13,01/08/2023 11:47,01-Aug-23,NaN,NaN,NaN,NaN,Richard Buchanan,Mason Gupta,Jennifer Nguyen,On Job Training,Morning,5
1,b07ec1b0-f376-43b6-86df-ec03da3b2e16,Outcall,Product Queries,Product Specific Information,NaN,d406b0c7-ce17-4654-b9de-f08d421254bd,NaN,01/08/2023 12:52,01/08/2023 12:54,01-Aug-23,NaN,NaN,NaN,NaN,Vicki Collins,Dylan Kim,Michael Lee,>90,Morning,5
2,200814dd-27c7-4149-ba2b-bd3af3092880,Inbound,Order Related,Installation/demo,NaN,c273368d-b961-44cb-beaf-62d6fd6c00d5,NaN,01/08/2023 20:16,01/08/2023 20:38,01-Aug-23,NaN,NaN,NaN,NaN,Duane Norman,Jackson Park,William Kim,On Job Training,Evening,5
3,eb0d3e53-c1ca-42d3-8486-e42c8d622135,Inbound,Returns,Reverse Pickup Enquiry,NaN,5aed0059-55a4-4ec6-bb54-97942092020a,NaN,01/08/2023 20:56,01/08/2023 21:16,01-Aug-23,NaN,NaN,NaN,NaN,Patrick Flores,Olivia Wang,John Smith,>90,Evening,5
4,ba903143-1e54-406c-b969-46c52f92e5df,Inbound,Cancellation,Not Needed,NaN,e8bed5a9-6933-4aff-9dc6-ccefd7dcde59,NaN,01/08/2023 10:30,01/08/2023 10:32,01-Aug-23,NaN,NaN,NaN,NaN,Christopher Sanchez,Austin Johnson,Michael Lee,0-30,Morning,5

In [8]:
cu.isna().sum()

Unique id                      0
channel_name                   0
category                       0
Sub-category                   0
Customer Remarks           57165
Order_id                   18232
order_date_time            68693
Issue_reported at              0
issue_responded                0
Survey_response_Date           0
Customer_City              68828
Product_category           68711
Item_price                 68701
connected_handling_time    85665
Agent_name                     0
Supervisor                     0
Manager                        0
Tenure Bucket                  0
Agent Shift                    0
CSAT Score                     0
dtype: int64

In [9]:
(cu.isna().sum()/cu.shape[0])*100

Unique id                   0.000000
channel_name                0.000000
category                    0.000000
Sub-category                0.000000
Customer Remarks           66.542889
Order_id                   21.222950
order_date_time            79.962052
Issue_reported at           0.000000
issue_responded             0.000000
Survey_response_Date        0.000000
Customer_City              80.119199
Product_category           79.983005
Item_price                 79.971364
connected_handling_time    99.718300
Agent_name                  0.000000
Supervisor                  0.000000
Manager                     0.000000
Tenure Bucket               0.000000
Agent Shift                 0.000000
CSAT Score                  0.000000
dtype: float64

In [10]:
#Delete row with null value from order_date_time
cu = cu.dropna(subset=['order_date_time'], axis=0)

#to drop the column connected_handling_time , it is 99% emty 
cu.drop(columns=['connected_handling_time'], inplace=True)

#to drop the column (Issue_reported at) and (Survey_response_Date) , it is same value of date of column (issue_responded)
cu.drop(columns=['Issue_reported at'], inplace=True)
cu.drop(columns=['Survey_response_Date'], inplace=True)

#to drop the column Customer Remarks , it is comment (not need)
cu.drop(columns=['Customer Remarks'], inplace=True)

In [11]:
cu.isna().sum()

Unique id             0
channel_name          0
category              0
Sub-category          0
Order_id              0
order_date_time       0
issue_responded       0
Customer_City       135
Product_category     18
Item_price            8
Agent_name            0
Supervisor            0
Manager               0
Tenure Bucket         0
Agent Shift           0
CSAT Score            0
dtype: int64

In [12]:
# show how many column i have after remove the nulls (column,row)
cu.shape

(17214, 16)

In [13]:
cu.dtypes

Unique id            object
channel_name         object
category             object
Sub-category         object
Order_id             object
order_date_time      object
issue_responded      object
Customer_City        object
Product_category     object
Item_price          float64
Agent_name           object
Supervisor           object
Manager              object
Tenure Bucket        object
Agent Shift          object
CSAT Score            int64
dtype: object

In [14]:
cu.columns

Index(['Unique id', 'channel_name', 'category', 'Sub-category', 'Order_id',
       'order_date_time', 'issue_responded', 'Customer_City',
       'Product_category', 'Item_price', 'Agent_name', 'Supervisor', 'Manager',
       'Tenure Bucket', 'Agent Shift', 'CSAT Score'],
      dtype='object')

In [15]:
#change a nameof column to lower case 
cu.columns = cu.columns.str.lower()

In [16]:
cu.columns

Index(['unique id', 'channel_name', 'category', 'sub-category', 'order_id',
       'order_date_time', 'issue_responded', 'customer_city',
       'product_category', 'item_price', 'agent_name', 'supervisor', 'manager',
       'tenure bucket', 'agent shift', 'csat score'],
      dtype='object')

In [17]:
cu.head()

,unique id,channel_name,category,sub-category,order_id,order_date_time,issue_responded,customer_city,product_category,item_price,agent_name,supervisor,manager,tenure bucket,agent shift,csat score
11,4c28acf4-2ea4-4be8-b8f1-113e676fc8b7,Inbound,Order Related,Delayed,55bbace3-eb2e-4f67-aacb-4f8ee8512f75,19/07/2023 23:50,02/08/2023 11:14,NAGPUR,LifeStyle,434.0,Stanley Hogan,Harper Wong,Emily Chen,>90,Split,1
16,4cc4df74-fcd3-413a-920d-ca3ad2dd0904,Inbound,Returns,Service Centres Related,4245d6df-49c6-491a-8724-125c4df82e75,06/05/2023 21:41,01/08/2023 09:03,RANCHI,Electronics,1299.0,Amy Mendez,Sophia Sato,John Smith,0-30,Morning,5
19,6e51734e-9627-4a12-8062-877c3638627d,Inbound,Order Related,Installation/demo,8a1ae638-4d8c-4a5e-bf1b-eb74f881fc3d,18/07/2023 12:20,02/08/2023 20:05,NAGPUR,Electronics,15990.0,David Butler,Olivia Wang,Emily Chen,31-60,Evening,5
24,081f62d7-332f-4aac-91cf-e79758976725,Inbound,Returns,Reverse Pickup Enquiry,2509fa08-318d-4526-8122-51603af956a8,15/07/2023 14:47,01/08/2023 08:57,BETIA,Electronics,1099.0,Cynthia Mills,William Park,John Smith,31-60,Morning,5
25,c0edcb0a-cfa8-4f35-86ad-88c9f6b47290,Inbound,Order Related,Order status enquiry,e4eed4bb-1b1e-4894-bbd0-e2ba491b562b,29/07/2023 13:35,02/08/2023 11:10,NEW DELHI,Mobile,99999.0,Michelle Williams,Mason Gupta,Jennifer Nguyen,On Job Training,Morning,1

In [18]:
# change a  object for column ('order_date_time' and 'issue_responded') to the datetime
cu['order_date_time'] = pd.to_datetime(cu['order_date_time'])

C:\Users\aliah\AppData\Local\Temp\ipykernel_15920\4223234479.py:2: UserWarning: Parsing dates in %d/%m/%Y %H:%M format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  cu['order_date_time'] = pd.to_datetime(cu['order_date_time'])

In [19]:
cu['issue_responded'] = pd.to_datetime(cu['issue_responded'], format='%d/%m/%Y %H:%M')

In [20]:
# rename a column (agent_name and agent shift ) to (employee name and shift)
cu = cu.rename(columns={'agent_name': 'employee_name'})
cu = cu.rename(columns={'agent shift': 'employee shift'})
cu = cu.rename(columns={'category': 'problems'})
cu = cu.rename(columns={'sub-category': 'sub-probkems'})

In [21]:
cu.dtypes

unique id                   object
channel_name                object
problems                    object
sub-probkems                object
order_id                    object
order_date_time     datetime64[ns]
issue_responded     datetime64[ns]
customer_city               object
product_category            object
item_price                 float64
employee_name               object
supervisor                  object
manager                     object
tenure bucket               object
employee shift              object
csat score                   int64
dtype: object

In [22]:
cu.head()

,unique id,channel_name,problems,sub-probkems,order_id,order_date_time,issue_responded,customer_city,product_category,item_price,employee_name,supervisor,manager,tenure bucket,employee shift,csat score
11,4c28acf4-2ea4-4be8-b8f1-113e676fc8b7,Inbound,Order Related,Delayed,55bbace3-eb2e-4f67-aacb-4f8ee8512f75,2023-07-19 23:50:00,2023-08-02 11:14:00,NAGPUR,LifeStyle,434.0,Stanley Hogan,Harper Wong,Emily Chen,>90,Split,1
16,4cc4df74-fcd3-413a-920d-ca3ad2dd0904,Inbound,Returns,Service Centres Related,4245d6df-49c6-491a-8724-125c4df82e75,2023-05-06 21:41:00,2023-08-01 09:03:00,RANCHI,Electronics,1299.0,Amy Mendez,Sophia Sato,John Smith,0-30,Morning,5
19,6e51734e-9627-4a12-8062-877c3638627d,Inbound,Order Related,Installation/demo,8a1ae638-4d8c-4a5e-bf1b-eb74f881fc3d,2023-07-18 12:20:00,2023-08-02 20:05:00,NAGPUR,Electronics,15990.0,David Butler,Olivia Wang,Emily Chen,31-60,Evening,5
24,081f62d7-332f-4aac-91cf-e79758976725,Inbound,Returns,Reverse Pickup Enquiry,2509fa08-318d-4526-8122-51603af956a8,2023-07-15 14:47:00,2023-08-01 08:57:00,BETIA,Electronics,1099.0,Cynthia Mills,William Park,John Smith,31-60,Morning,5
25,c0edcb0a-cfa8-4f35-86ad-88c9f6b47290,Inbound,Order Related,Order status enquiry,e4eed4bb-1b1e-4894-bbd0-e2ba491b562b,2023-07-29 13:35:00,2023-08-02 11:10:00,NEW DELHI,Mobile,99999.0,Michelle Williams,Mason Gupta,Jennifer Nguyen,On Job Training,Morning,1

In [23]:
cu['item_price']

11         434.0
16        1299.0
19       15990.0
24        1099.0
25       99999.0
          ...
85878       25.0
85881      599.0
85886      998.0
85900      193.0
85901    23999.0
Name: item_price, Length: 17214, dtype: float64

In [24]:
# add a "$" for item_price
cu['item_price'] = cu['item_price'].apply(lambda x: '${:}'.format(x))

In [25]:
cu.head()

,unique id,channel_name,problems,sub-probkems,order_id,order_date_time,issue_responded,customer_city,product_category,item_price,employee_name,supervisor,manager,tenure bucket,employee shift,csat score
11,4c28acf4-2ea4-4be8-b8f1-113e676fc8b7,Inbound,Order Related,Delayed,55bbace3-eb2e-4f67-aacb-4f8ee8512f75,2023-07-19 23:50:00,2023-08-02 11:14:00,NAGPUR,LifeStyle,$434.0,Stanley Hogan,Harper Wong,Emily Chen,>90,Split,1
16,4cc4df74-fcd3-413a-920d-ca3ad2dd0904,Inbound,Returns,Service Centres Related,4245d6df-49c6-491a-8724-125c4df82e75,2023-05-06 21:41:00,2023-08-01 09:03:00,RANCHI,Electronics,$1299.0,Amy Mendez,Sophia Sato,John Smith,0-30,Morning,5
19,6e51734e-9627-4a12-8062-877c3638627d,Inbound,Order Related,Installation/demo,8a1ae638-4d8c-4a5e-bf1b-eb74f881fc3d,2023-07-18 12:20:00,2023-08-02 20:05:00,NAGPUR,Electronics,$15990.0,David Butler,Olivia Wang,Emily Chen,31-60,Evening,5
24,081f62d7-332f-4aac-91cf-e79758976725,Inbound,Returns,Reverse Pickup Enquiry,2509fa08-318d-4526-8122-51603af956a8,2023-07-15 14:47:00,2023-08-01 08:57:00,BETIA,Electronics,$1099.0,Cynthia Mills,William Park,John Smith,31-60,Morning,5
25,c0edcb0a-cfa8-4f35-86ad-88c9f6b47290,Inbound,Order Related,Order status enquiry,e4eed4bb-1b1e-4894-bbd0-e2ba491b562b,2023-07-29 13:35:00,2023-08-02 11:10:00,NEW DELHI,Mobile,$99999.0,Michelle Williams,Mason Gupta,Jennifer Nguyen,On Job Training,Morning,1

In [26]:
#add column for age_in_days
cu['age_daytime'] = (cu['issue_responded'] - cu['order_date_time']).dt.days

In [27]:
cu.head()

,unique id,channel_name,problems,sub-probkems,order_id,order_date_time,issue_responded,customer_city,product_category,item_price,employee_name,supervisor,manager,tenure bucket,employee shift,csat score,age_daytime
11,4c28acf4-2ea4-4be8-b8f1-113e676fc8b7,Inbound,Order Related,Delayed,55bbace3-eb2e-4f67-aacb-4f8ee8512f75,2023-07-19 23:50:00,2023-08-02 11:14:00,NAGPUR,LifeStyle,$434.0,Stanley Hogan,Harper Wong,Emily Chen,>90,Split,1,13
16,4cc4df74-fcd3-413a-920d-ca3ad2dd0904,Inbound,Returns,Service Centres Related,4245d6df-49c6-491a-8724-125c4df82e75,2023-05-06 21:41:00,2023-08-01 09:03:00,RANCHI,Electronics,$1299.0,Amy Mendez,Sophia Sato,John Smith,0-30,Morning,5,86
19,6e51734e-9627-4a12-8062-877c3638627d,Inbound,Order Related,Installation/demo,8a1ae638-4d8c-4a5e-bf1b-eb74f881fc3d,2023-07-18 12:20:00,2023-08-02 20:05:00,NAGPUR,Electronics,$15990.0,David Butler,Olivia Wang,Emily Chen,31-60,Evening,5,15
24,081f62d7-332f-4aac-91cf-e79758976725,Inbound,Returns,Reverse Pickup Enquiry,2509fa08-318d-4526-8122-51603af956a8,2023-07-15 14:47:00,2023-08-01 08:57:00,BETIA,Electronics,$1099.0,Cynthia Mills,William Park,John Smith,31-60,Morning,5,16
25,c0edcb0a-cfa8-4f35-86ad-88c9f6b47290,Inbound,Order Related,Order status enquiry,e4eed4bb-1b1e-4894-bbd0-e2ba491b562b,2023-07-29 13:35:00,2023-08-02 11:10:00,NEW DELHI,Mobile,$99999.0,Michelle Williams,Mason Gupta,Jennifer Nguyen,On Job Training,Morning,1,3

In [28]:
cu['age_daytime']

11       13
16       86
19       15
24       16
25        3
         ..
85878    10
85881     2
85886    16
85900    16
85901     2
Name: age_daytime, Length: 17214, dtype: int64

In [59]:
cu.to_csv(r'C:\Users\aliah\OneDrive\Desktop\A\PROJECT\Final\1-eCommerce Customer Service Satisfaction\Customer_support_data1.csv', index=False)